.link-img {
  filter: invert(22%) sepia(96%) saturate(1018%) hue-rotate(173deg)
    brightness(96%) contrast(95%);
}

.link-list:hover .link-img {
  filter: invert(21%) sepia(90%) saturate(1958%) hue-rotate(182deg)
    brightness(100%) contrast(98%);
}

.link-list:hover span {
  background-color: #0284c7;
}
