@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&amp;family=Overlock:ital,wght@1,900&amp;family=Roboto+Serif:ital,opsz,wght@1,8..144,500&amp;display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Attempt at loading fonts locally */
/* @layer base {
  @font-face {
    font-family: "Nunito";
    src:
      url("../public/fonts/Nunito-Italic-VariableFont_wght.ttf") format("ttf");
  }

  @font-face {
    font-family: "Overlock";
    src:
      url("../public/fonts/Overlock-BoldItalic.ttf") format("ttf");
  }

  @font-face {
    font-family: "Roboto Serif";
    src:
      url("../public/fonts/RobotoSerif-Italic-VariableFont_GRAD.ttf")
        format("ttf");
  }
} */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
