.char {
  text-align: center;
  width: 22px;

  font-family: monospace;
}

/* Add a slight blur/fade out at the bottom right where the text disappears? */
.text-box {
  max-height: 570px;
  padding-left: 4px;
  padding-right: 4px;
  background-color: rgb(254, 254, 254);
}
