.radio {
  display: none;
}

input:checked + label {
  border: 2px solid rgb(134, 199, 239);
  color: rgb(47, 123, 170);
  font-weight: 500;
}

label:hover {
  border: 2px solid rgb(134, 199, 239);
  color: rgb(47, 123, 170);
  cursor: pointer;
  font-weight: 500;
}
