input:checked + .menu-label {
  border: 2px solid #0284c7;
  color: #0369a1;
  font-weight: 700;
}

.main-heading {
  animation: fadeIn 1s ease-in 1s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
