.image {
  filter: invert(26%) sepia(60%) saturate(2946%) hue-rotate(191deg)
    brightness(94%) contrast(98%); /* Sky 700 */
}

.image-theme {
  filter: invert(14%) sepia(75%) saturate(3726%) hue-rotate(321deg)
    brightness(104%) contrast(94%); /* Pink 700 */
}

.header-dashboard {
  opacity: 0;
  animation: fadeTransform 0.3s ease-in forwards;
}

@keyframes fadeTransform {
  0% {
    opacity: 0;
    transform: translateY(-5em);
  }

  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}

.home-pg {
  animation: padEase 0.5s ease-in-out forwards;
}

@keyframes padEase {
  0% {
    padding-bottom: 30%;
  }

  100% {
    padding-bottom: auto;
  }
}

.fade-in {
  animation: fadeIn 0.3s ease-in forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}
